<!DOCTYPE html>
<html>
<head>
  <title>Yelp Visualizer</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/redmond/jquery-ui.css">
  
  
  <style>a{color:#08C;} a:hover{background-color:#fff; color:#08c; opacity:0.5; text-decoration:none; cursor:pointer;}</style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>

<div class="container">

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#"><i class="fa fa-map-marker"></i> Yelp Visualizer</a>
    <ul class="nav">
      <li class="active"><a href="#"><i class="fa fa-globe"></i> Map</a></li>
      <li><a href="#"><i class="fa fa-info-circle"></i> About</a></li>
    </ul>
  </div>
</div>

<%= yield %>

</div> <!-- /.container -->

</body>
</html>
