<style>
  #map {width:100%; height:500px; margin-bottom:40px;}
  #left-nav{height:500px; max-height:500px; overflow-y:scroll;}
</style>

<div class="row">

<div id="left-nav" class="span3">
  <h1>Yelp Data</h1>
  <p>Insert options here.</p>
  <button id="search-btn" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
</div>

<div class="span9">
<div id="map"></div>
</div>

</div> <!-- /.row -->

<script>

var getData = function (map, heatmapLayer) {

  $.getJSON('/businesses.json', function(data) {

    var businesses = {
      max: 1,
      data: data
    };

    map.setView([businesses.data[0].latitude, businesses.data[0].longitude], 11);
    heatmapLayer.setData(businesses);

  });

};


$(document).ready(function() {

  var baseLayer = L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
      attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
      maxZoom: 18
    }
  );

  var cfg = {
    "radius": 0.01,
    "maxOpacity": .8, 
    "scaleRadius": true,
    "blur": 0.9,
    "useLocalExtrema": false,
    latField: 'latitude',
    lngField: 'longitude',
    valueField: 'rating'
  };

  var heatmapLayer = new HeatmapOverlay(cfg);

  var map = new L.Map('map', {
    center: new L.LatLng(39.8282, -98.5795),
    zoom: 4,
    layers: [baseLayer, heatmapLayer]
  });

  $('#search-btn').click(function() {
    getData(map, heatmapLayer);
  });

});

</script>

