<style>
  #map {width:100%; height:500px; margin-bottom:40px;}
  #left-nav{height:500px; max-height:500px; overflow-y:scroll; overflow-x:hidden}
  #left-nav,.row{margin-bottom:15px;}
  select{width:90%;}
</style>

<div class="row">

<div id="left-nav" class="span3">
  <h1>Yelp Data</h1>
  <p><a onclick="useCurrentLocation()"><i class="fa fa-map-marker"></i> My Current Location</a></p>

  <label>City</label>
  <select id="input-city">
    <option value="Charlotte">Charlotte</option>
    <option value="Las Vegas">Las Vegas</option>
    <option value="Madison">Madison</option>
    <option value="Montreal">Montreal</option>
    <option value="Phoenix">Phoenix</option>
    <option value="Pittsburgh">Pittsburgh</option>
  </select>

  <label>Category</label>
  <select id="input-category" multiple="multiple">
  </select>
  
  <label>Attribute</label>
  <select id="input-attr" multiple="multiple">
  </select>

  <div class="text-center">
    <button id="search-btn" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
  </div>

</div>

<div class="span9">
<div id="map"></div>
</div>

</div> <!-- /.row -->

<script>

var map = {};
var heatmapLayer = {};
var dataZoom = 11;

var getData = function () {

  var formData = {};
  formData.city = $('#input-city').val();
  formData.categories = $('#input-category').val();
  formData.attributes = $('#input-attr').val();

  $.getJSON('/businesses.json', formData, function(data) {

    var businesses = {
      max: 1,
      data: data
    };

    map.setView([businesses.data[0].latitude, businesses.data[0].longitude], dataZoom);
    heatmapLayer.setData(businesses);

  });

};

$(document).ready(function() {

  var baseLayer = L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
      attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
      maxZoom: 18
    }
  );

  var cfg = {
    "radius": 0.01,
    "maxOpacity": .8, 
    "scaleRadius": true,
    "blur": 0.9,
    "useLocalExtrema": false,
    latField: 'latitude',
    lngField: 'longitude',
    valueField: 'rating'
  };

  heatmapLayer = new HeatmapOverlay(cfg);

  map = new L.Map('map', {
    center: new L.LatLng(39.8282, -98.5795),
    zoom: 4,
    layers: [baseLayer, heatmapLayer]
  });

  $('#search-btn').click(function() {
    getData(map, heatmapLayer);
  });


  
  
  $.getJSON("/categories.json", function(data) {

	$.each(data, function(key, value) {   
    
    $('#input-category').append($('<option>', {
    value: value.category_id,
    text: value.name
	}));
	
	});
	
	$('#input-category').multiselect();
  		
   });
 
   $.getJSON("/attributes.json", function(data) {

	$.each(data, function(key, value) {   
    
    $('#input-attr').append($('<option>', {
    value: value.attribute_id,
    text: value.attribute_name
	}));
	
	});
	
	$('#input-attr').multiselect();
  		
   });
  

  
  


});

var useCurrentLocation = function () {
  navigator.geolocation.getCurrentPosition(function (data) {
    var BlueIcon = L.Icon.Default;
    map.setView([data.coords.latitude, data.coords.longitude], dataZoom);
    L.marker([data.coords.latitude, data.coords.longitude], {icon: new L.Icon.Default})
     .addTo(map)
     .bindPopup('<h5>You are here.</h5>')
     .openPopup();
  });
};

</script>

