<style>
  #map {width:100%; height:500px; margin-bottom:40px;}
  #left-nav{height:500px; max-height:500px; overflow-y:scroll; overflow-x:hidden}
  #left-nav,.row{margin-bottom:15px;}
  select{width:90%;}
</style>

<div class="row">

<div id="left-nav" class="span3">
  <h1>Yelp Data</h1>
  <p>Insert options here.</p>
  <p><a onclick="useCurrentLocation()"><i class="fa fa-map-marker"></i> My Current Location</a></p>

  <div class="row">
  <div class="span3">
    <label>City</label>
    <select id="input-city">
      <option value="Las_Vegas">Las Vegas</option>
      <option value="Carnegie">Carnegie</option>
      <option value="option3">TODO</option>
    </select>
  </div>
  </div>

  <div class="row">
  <div class="span3 text-center">
    <button id="search-btn" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
  </div>
  </div>

</div>

<div class="span9">
<div id="map"></div>
</div>

</div> <!-- /.row -->

<script>

var map = {};
var heatmapLayer = {};
var dataZoom = 11;

var getData = function () {

  var formData = {};
  formData.city = $('#input-city').val();

  $.getJSON('/businesses.json', formData, function(data) {

    var businesses = {
      max: 1,
      data: data
    };

    map.setView([businesses.data[0].latitude, businesses.data[0].longitude], dataZoom);
    heatmapLayer.setData(businesses);

  });

};

$(document).ready(function() {

  var baseLayer = L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',{
      attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a>',
      maxZoom: 18
    }
  );

  var cfg = {
    "radius": 0.01,
    "maxOpacity": .8, 
    "scaleRadius": true,
    "blur": 0.9,
    "useLocalExtrema": false,
    latField: 'latitude',
    lngField: 'longitude',
    valueField: 'rating'
  };

  heatmapLayer = new HeatmapOverlay(cfg);

  map = new L.Map('map', {
    center: new L.LatLng(39.8282, -98.5795),
    zoom: 4,
    layers: [baseLayer, heatmapLayer]
  });

  $('#search-btn').click(function() {
    getData(map, heatmapLayer);
  });

});

var useCurrentLocation = function () {
  navigator.geolocation.getCurrentPosition(function (data) {
    var BlueIcon = L.Icon.Default;
    map.setView([data.coords.latitude, data.coords.longitude], dataZoom);
    L.marker([data.coords.latitude, data.coords.longitude], {icon: new L.Icon.Default})
     .addTo(map)
     .bindPopup('<h5>You are here.</h5>')
     .openPopup();
  });
};

</script>

