<h1>Listing businesses</h1>

<table>
  <tr>
    <th>Business</th>
    <th>Avg Stars</th>
    <th>Lat</th>
    <th>Long</th>

  </tr>

<% @businesses.each do |business| %>
  <tr>
    <td><%= business.business_id %></td>
    <td><%= business.avgstars %></td>
    <td><%= business.latitude %></td>
    <td><%= business.longitude %></td>


  </tr>
<% end %>
</table>

<br />

