<h1>Listing businessattributes</h1>

<table>
  <tr>
    <th>Business</th>
    <th>Attribute</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @businessattributes.each do |businessattribute| %>
  <tr>
    <td><%= businessattribute.business_id %></td>
    <td><%= businessattribute.attribute_id %></td>
  </tr>
<% end %>
</table>

<br />

